*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrapper{
    width: 300px;
    background-color: tomato;
    margin: auto;
    margin-top: 8vh;
}
.wrapper-title{
    background-color: tomato;
    text-align: center;
    padding: 5px;
    color: rgb(39, 94, 94);
    text-transform: uppercase;
}
.list-body{
    background-color: teal;
    height: auto;
    min-height: 50vh;
    padding: 5px;
    color: whitesmoke;
    font-size: 13px;
}
.auto-list { list-style: none; }
.item{ display: flex; padding: 3px 0; align-items: center; justify-content: space-between; }
.list-input{ 
    width: 100%; 
    padding: 3px 0 3px 0; 
    background-color: teal; 
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    text-align: center;

 }
.list-input > #taskField{
    width: 98%;
    height: 5vh;
    padding: 4px 0 4px .3vw;
    border: none;  
    background: rgb(240, 234, 234);
}
.list-btn { 
    background-color: teal; 
    text-align: center;
    padding: 8px 0 10px 0;
}
.btn{
    height: 6vh;
    width: 30%;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    color: rgb(238, 216, 212);
    font-weight: bolder;
    font-size: 9px;
    background: none;
}
.btn:hover, .fa-times:hover, .checkbox:hover{ 
    cursor: pointer;
    background-color: tomato;
    color: white;
}
.strike{
    text-decoration: line-through;
    text-decoration-color: gray;
    text-decoration-style: double;
    color: lightgray;
}

/* media query for small screens */
@media only screen and (max-width: 500px) {
    .wrapper{
        margin: 0;
        padding: 0;
        width: 100%;
    }
  
}